<h1>Hello, world!</h1>
<div class="row">
  <div class="col-sm-7">
    <video #video id="video" width="640" height="480" 
    muted="muted"></video>
  </div>
  <div class="col-sm-2">
    <div class="col-sm-12">
      <canvas #canvas id="canvas" width="640" height="480" hidden></canvas>
      <ul>
        <li *ngFor="let c of captures">
          <img src="{{ c }}" height="40" />
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-3" style="background-color: #808080">
    <div class="col-sm-12">
      <p>
        Scanned OCR: {{ ocrResult }}
      </p>
      <p>
        Translated: {{ translatedText }}
      </p>
    </div>
  </div>
</div>

<div><button id="translate" (click)="capture()">Translate Text</button></div>



